/* css style sheet for website */
body {
  font-family: Arial, Helvetica, sans-serif;
  /* Using sans-serif for clear viewing - this is inheritted throughout*/
  color:black;
  background-color: white;
  text-align: center;
}
h1 {
   color:#003366; /* dark-Blue */
}
p {
  color:black;
}
